h1 {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.todoInput{
  display: inline-block;
  padding: 16px 16px 16px 60px;
  border: none;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  box-sizing: border-box;
}

.todoInput::placeholder {
  font-style: italic;
  color: rgba(77, 77, 77, 0.15)
}

.todoInput:focus{
  outline: none;
}

.item{
  position: relative;
  border-top: 1px solid #d3d3d396;
  text-align: left;
  box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 65px;
  background-color: white;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  box-sizing: border-box;
}

.label{
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.info {
  margin: 65px auto 0;
  color: #adadadad;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  font:'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: .8em;
}

.info span {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.round{
  height: 30px;
  display: inline-block;
  width: 30px;
  border: 1px solid #8080804f;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 1px 10px 0 10px;
  padding-top: 17px;
  position: relative;
  top: 16px;
}

.round.disappear{
  visibility: hidden;
}

.round span{
  font-weight: 200;
  position: relative;
  bottom: 2px;
  left: 4px;
}

.itemContent{
  position: absolute;
  padding-left: 10px;
  bottom: 16px;
}

.itemContent.completed{
  text-decoration: line-through;
  color: #80808080;
}

.markIcon{
  width: 23px;
  position: relative;
  right: 2px;
  top: -8px;
  transform: rotate(-5deg);
}
.markIcon path{
  fill: #16c5b1db;
}

.deleteIcon{
  width: 18px;
  position: absolute;
  top:16px;
  left: 510px;
  fill:darkred;
  fill-opacity: .5;   
}

.container{
  position: relative;
  height: 55px;
}

.filterBox {
  position: relative;
  border-top: 1px solid #d3d3d396;
  border-bottom: .5px solid #d3d3d3;
  text-align: left;
  box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 41px;
  background-color: white;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  box-sizing: border-box;
}

.filterBox.one {
  width: 100%;
  z-index: 1;
}

.filterBox.two{
  width: 98%;
  z-index: 0;
  top: -36px;
  left: 6px;
}

.filterBox.three{
  width: 96%;
  z-index: -1;
  top: -72px;
  left: 12px;
}

.downIcon{
  width: 20px;
  display: inline-block;
  position: absolute;
  transform: rotate(90deg);
  margin: 24px 0 0 15px;
  fill-opacity: .1;
}

.downIcon.active{
  fill-opacity: .6;
}

.activeItems{
  position: relative;
  font-size: 14px;
  top: 6px;
  left: 15px;
  cursor: default;
}

.button{
  font-size: 14px;
  font-family: inherit;
  height: 23px;
  background-color: white;
  border-radius: 3px;
  font-weight: 300;
  display: inline-block;
  position: relative;
  top: 6px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  border: .5px solid #ffc0c04f;
}

.button:focus{
  outline: none;
}

.button.all{
  width: 30px;
  margin-left: 115px;
} 

.button.all.selected{
  border: 1px solid #ffc0c08a;
}

.button.act{
  width: 55px;
  margin-left: 10px;
}

.button.act.selected{
  border: 1px solid #ffc0c08a;
}

.button.comp{
  width: 80px;
  margin-left: 10px;
}

.button.comp.selected{
  border: 1px solid #ffc0c08a;
}

.clearCompleted {
  position: relative;
  font-size: 14px;
  top: 6px;
  left: 68px;
  cursor: pointer;
}

.itemContainer{
  display: inline-block;
}

.editInput{
  width: 100.7%;
  padding: 12px 16px;
  border: 1px solid #00000063;
  box-sizing: border-box;
  height: 60px;
  position: relative;
  top: 2px;
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.editInput:focus{
  outline: none;
}

.editForm{
  display: inline-block;
  width: 90%;
}
